In [1]:
#Print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
#Print range 10 to 20

In [3]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [4]:
for num in range(10,20):
    print(num, end='')

10111213141516171819

In [5]:
for num in range(10,20):
    print(num, end=' ')

10 11 12 13 14 15 16 17 18 19

In [11]:
#Print number of items in the list by using 'len'
list = [10,23,45,34,67,87,90]
print(list)
print("Number of items in the list:",len(list))

[10, 23, 45, 34, 67, 87, 90]
Number of items in the list: 7

In [13]:
Name = input("Enter the name=" )

Enter the name= Artificial Intelligence

In [51]:
Name1 = "Artificial Intelligence"
print(Name1)
for chr in Name1:
    print(chr)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [19]:
Name = input("Enter your Name")
Age = input("Enter your Age")
Profession = input("Enter your Profession")
print("-Your Name-", Name)
print("-Your age-", Age)
print("-Your Profession-",Profession)

Enter your Name Gayatri
Enter your Age 32
Enter your Profession Senior Test Engineer

-Your Name- Gayatri
-Your age- 32
-Your Profession- Senior Test Engineer

In [20]:
print("-Your Name-", Name)
print("-Your age-", Age)
print("-Your Profession-",Profession)

-Your Name- Gayatri
-Your age- 32
-Your Profession- Senior Test Engineer

In [21]:
## Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print this mixed datatype using Tuples
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [22]:
## Refer this link : https://www.geeksforgeeks.org/python-tuples/
Tuple1 = (0, 1, 2, 3)

In [23]:
Tup2 =('python', 'HOPE')

In [24]:
Tup3=(Tuple1,Tup2)

In [25]:
print(Tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [44]:
# print Odd Numbers in the list
NumList1 = (20,10,16,19,25,1,276,188)
for num in NumList1:
    if (num % 2 != 0):
       print(num, "is odd")

19 is odd
25 is odd
1 is odd

In [45]:
# print Even numbers in the list
NumList1 = (20,10,16,19,25,1,276,188)
for num in NumList1:
    if (num % 2 == 0):
       print(num, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even